@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  html {
    @apply overflow-hidden
  }


  .inputLabelError {
    @apply py-2 w-60 relative block rounded-md border border-gray-200 shadow-sm
  }

  .inputLabelError:focus-within {
    @apply border-red-500 ring-1 ring-red-600
  }


  .inputLablelNormal {
    @apply py-2 w-60 relative block rounded-md border border-gray-200 shadow-sm
  }

  .inputLablelNormal:focus-within {
    @apply border-blue-600 ring-1 ring-blue-600
  }


  .icon-btn {
    @apply text-blue-600 p-1
  }

  .icon-btn :hover {
    @apply text-blue-500 cursor-pointer
  }

  .icon-btn:active {
    @apply text-blue-800 cursor-pointer
  }

  .btn {
    @apply inline-block rounded-xl bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition
  }

  .btn:hover {
    @apply scale-110 shadow-xl
  }

  .btn:focus {
    @apply outline-none ring bg-indigo-500
  }

  .sidebarListItem {
    @apply flex justify-start items-center rounded-tl-3xl rounded-bl-3xl gap-2 px-6 py-2 text-sm text-gray-500
  }

  .sidebarListItem:hover {
    @apply bg-white text-gray-700 cursor-pointer
  }

  .sidebarListItem:active {
    @apply bg-white text-gray-700 cursor-pointer
  }




}